NEXT_PUBLIC_SUPABASE_URL=https://foatmzdgdidvtzryqrsv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fCMl9bW5Qy7nnR0RzQP3cw_a2F8yApG
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
